<style lang="scss">
@import './RptBillDetail.scss';
</style>
<script src="./RptBillDetail.js"></script>

<template>
  <div class="rptBillDetail">
    <ve-table
      style="width:100%"
      :max-height="500"
      :columns="colBillDetail" 
      :table-data="billDetails"
      :border-y="true"
    />
  </div>
</template>
