<style lang="scss">
@import './NewChangeItem.scss';
</style>
<script src="./NewChangeItem.js"></script>

<template>
  <div class="new-change-item">
    <div class="ez-row">
      <div class="ez-col ez-flex10 require-label">
        Mã sản phẩm
      </div>
      <div class="ez-col ez-flex20">
        <b-input
          v-model="item.ItemCode"
          :disabled="isEdit"
        />
      </div>
    </div>
    <div class="ez-row">
      <div class="ez-col ez-flex10 require-label">
        Tên sản phẩm
      </div>
      <div class="ez-col ez-flex20">
        <b-input v-model="item.ItemName" />
      </div>
    </div>
    <div class="ez-row">
      <div class="ez-col ez-flex10 require-label">
        Đơn giá
      </div>
      <div class="ez-col ez-flex10">
        <b-input
          v-model="priceDisplay"
          class="text-right"
          @blur="$event => changeAmountValue($event)"
          @mousedown="focusInputAmount"
        />
      </div>
      <div class="ez-col ez-flex10">
        <b-checkbox 
          v-model="item.OpenPrice"
        >
          Giá linh hoạt
        </b-checkbox>
      </div>
    </div>
    <div class="ez-row">
      <div class="ez-col ez-flex10 require-label">
        Đơn vị tính
      </div>
      <div class="ez-col ez-flex20">
        <b-form-select
          v-model="item.UnitId"
          :options="IUnits"
          value-field="UnitId"
          text-field="UnitName"
        >
          <template slot="first">
            <option value="">
              --- Chọn ---
            </option>
          </template>
        </b-form-select>
      </div>
    </div>
    <div class="ez-row">
      <div class="ez-col ez-flex10 require-label">
        Danh mục
      </div>
      <div class="ez-col ez-flex20">
        <b-form-select
          v-model="item.ItemGroupId"
          :options="IGroup"
          value-field="IGroupId"
          text-field="Name"
        >
          <template slot="first">
            <option value="">
              --- Chọn ---
            </option>
          </template>
        </b-form-select>
      </div>
    </div>
    <div class="ez-row text-right btn-function-row">
      <div class="ez-col">
        <b-button
          class="btn-outline-ez" 
          @click="okAddItem"
        >
          Lưu
        </b-button>
        <b-button
          class="btn-outline-ez" 
          @click="cancelAddItem"
        >
          Hủy
        </b-button>
      </div>
    </div>
  </div>
</template>
