<style src="./Navigation.scss" module lang="scss"></style>
<script src="./Navigation.js"></script>

<template>
  <div :class="[$style.navigation]">
    <b-navbar
      toggleable="lg"
      type="dark"
      variant="info"
    >
      <!-- <b-navbar-brand
        href="#"
      >
        NavBar
      </b-navbar-brand>
      <b-navbar-toggle target="nav-collapse" /> -->
      <b-collapse
        id="nav-collapse"
        is-nav
      >
        <b-navbar-nav>
          <div
            v-for="(m, index) in menu"
            :key="index"
          >
            <b-nav-item
              v-if="!m.sub_menus"
              @click="menuClick(m)"
            >
              {{ m.menu_name }}
            </b-nav-item>
            <b-nav-item-dropdown
              v-if="m.sub_menus"
              :text="m.menu_name"
            >
              <b-dropdown-item
                v-for="(sm, idx) in m.sub_menus"
                :key="idx"
                @click="menuClick(sm)"
              >
                {{ sm.menu_name }}
              </b-dropdown-item>
            </b-nav-item-dropdown>
          </div>
        </b-navbar-nav>
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <!-- <b-nav-form>
            <b-form-input
              size="sm"
              class="mr-sm-2"
              placeholder="Search"
            />
            <b-button
              size="sm"
              class="my-2 my-sm-0"
              type="submit"
            >
              Search
            </b-button>
          </b-nav-form>

          <b-nav-item-dropdown
            text="Lang"
            right
          >
            <b-dropdown-item href="#">
              EN
            </b-dropdown-item>
            <b-dropdown-item href="#">
              ES
            </b-dropdown-item>
            <b-dropdown-item href="#">
              RU
            </b-dropdown-item>
            <b-dropdown-item href="#">
              FA
            </b-dropdown-item>
          </b-nav-item-dropdown>
           -->
          <b-nav-item-dropdown right>
            <!-- Using 'button-content' slot -->
            <template #button-content>
              <span><b-icon icon="person-fill" />{{ userName }}</span>
            </template>
            <b-dropdown-item href="#">
              Profile
            </b-dropdown-item>
            <b-dropdown-item
              @click="signOut"
            >
              Sign Out
            </b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>
