// Fonts

// Z Index
$zLayout: default;

// Sizes

// Colors

// $mediaQueries
@import '../../../data/mediaQueries.json';

// Paths
$pathComponentImage: 'asset/image';
$ezColPaddingLeft: 6px;
$colorHeader: #17a2b8;
$fontSize: 13px;
$colorBackgroundDefault: #17a2b8;
$colorObjectDefault: #17a2b8;
$colorObjectHover: #17a2b8; //Màu của đối tượng khi hover
$scrollbarHeight: 10px;
$scrollbarWidth: 10px;
$colorDefault: #212529;