<style lang="scss">
	@import './BillInformation.scss';
</style>
<script src="./BillInformation.js"></script>

<template>
  <div class="bill-information">
    <div
      v-show="!objProp.isProp"
      class="ez-row"
    >
      <div class="ez-col ez-flex1" />
      <div class="ez-col ez-flex3">
        Ngày
      </div>
      <div class="ez-col ez-flex6">
        <DatePicker 
          v-model="search.Date"
          v-mask="'##/##/####'"
          format="dd/MM/yyyy"
          placeholder="__/__/____"
          type="date"
        />
      </div>
      <div class="ez-col ez-flex6">
        <b-checkbox 
          v-model="search.Arrival"
        >
          Đặt trước
        </b-checkbox>
      </div>
      <div class="ez-col ez-flex6">
        <b-checkbox 
          v-model="search.CheckedIn"
        >
          Đang cắt
        </b-checkbox>
      </div>
      <div class="ez-col ez-flex7">
        <b-checkbox 
          v-model="search.CheckedOut"
        >
          Đã thanh toán
        </b-checkbox>
      </div>
      <div class="ez-col ez-flex5">
        <b-button
          v-shortkey="['enter']" 
          class="btn-outline-ez"
          @click="searchBill"
          @shortkey="searchBill"
        >
          Tìm kiếm
        </b-button>
      </div>
      <div class="ez-col ez-flex45" />
    </div>
    <div class="ez-row">
      <div
        v-show="!objProp.isProp"
        class="ez-col ez-flex8"
      >
        <fieldset class="fieldset-hair fieldset-bill">
          <legend class="legend-hair">
            Hóa đơn
          </legend>
          <BillList 
            :bills="bills"
            :bill-selected="billSelected"
            @new-bill="newBill"
            @choose-bill="chooseBill"
          />
        </fieldset>
      </div>
      <div class="ez-col ez-flex39">
        <fieldset class="fieldset-hair fieldset-bill">
          <legend class="legend-hair">
            Danh sách sản phẩm 
            <b-button @click="addItem">
              +
            </b-button>
          </legend>
          <ProductSell 
            :item-lists="itemLists"
            @choose-product="chooseProduct"
          />
        </fieldset>
      </div>
      <div class="ez-col ez-flex18">
        <fieldset class="fieldset-hair fieldset-bill">
          <legend class="legend-hair">
            Chi tiết hóa đơn <b>{{ billInfo.BillId }}</b>
          </legend>
          <Information
            :product-selected.sync="productSelected"
            :staff.sync="staff"
            :chairs.sync="chairs"
            :bill.sync="billInfo"
            @delete-product="deleteProduct"
            @more-staff="moreStaff"
            @more-chair="moreChair"
          />
        </fieldset>
      </div>
    </div>
    <div class="ez-row text-right btn-function-row">
      <div class="ez-col ez-flex50">
        <b-button
          :disabled="!btnAction.New"
          class="btn-outline-ez" 
          @click="addBill"
        >
          Đặt trước
        </b-button>
        <b-button
          :disabled="!btnAction.QuickCheckin"
          class="btn-outline-ez"
          @click="quickCheckin"
        >
          Quick Checkin
        </b-button>
        <b-button
          :disabled="!btnAction.Checkin"
          class="btn-outline-ez" 
          @click="checkin"
        >
          Checkin
        </b-button>
        <b-button
          :disabled="!btnAction.Save"
          class="btn-outline-ez" 
          @click="saveBill"
        >
          Lưu
        </b-button>
        <b-button
          :disabled="!btnAction.Payment"
          class="btn-outline-ez" 
          @click="payment"
        >
          Thanh Toán
        </b-button>
        <b-button
          v-show="objProp.isProp"
          class="btn-outline-ez" 
          @click="close"
        >
          Đóng
        </b-button>
      </div>
      <div class="ez-col ez-flex1" />
    </div>
    <b-modal 
      id="new-item"
      ref="refNewChangeItem"
      modal-class="ez-modal"
      size="md" 
      hide-footer 
      lazy
      no-close-on-backdrop 
      header-text-variant="light" 
      title="Thêm sản phẩm"
    >
      <NewChangeItem 
        @cancel-add-item="cancelAddItem"
        @add-item-success="addItemSuccess"
      />
    </b-modal>
    <b-modal 
      id="new-staff"
      ref="refNewChangeStaff"
      modal-class="ez-modal"
      size="md" 
      hide-footer 
      lazy
      no-close-on-backdrop 
      header-text-variant="light" 
      title="Thêm nhân viên"
    >
      <NewChangeStaff
        :staff-group="staffGroup"
        @cancel-add-staff="cancelAddStaff"
        @add-staff-success="addStaffSuccess"
      />
    </b-modal>
    <b-modal 
      id="new-chair"
      ref="refNewChangeChair"
      modal-class="ez-modal"
      size="md" 
      hide-footer 
      lazy
      no-close-on-backdrop 
      header-text-variant="light" 
      title="Thêm ghế"
    >
      <NewChangeChair
        @cancel-add-chair="cancelAddChair"
        @add-chair-success="addChairSuccess"
      />
    </b-modal>
    <b-modal 
      id="payment"
      ref="refPayment"
      modal-class="ez-modal"
      size="md" 
      hide-footer 
      lazy
      no-close-on-backdrop 
      header-text-variant="light" 
      title="Thanh Toán"
    >
      <Payment 
        :bill-id="billInfo.BillId"
        @cancel-payment="cancelPayment"
        @add-payment-success="addPaymentSuccess"
      />
    </b-modal>
  </div>
</template>
