<style lang="scss">
@import './Staff.scss';
</style>
<script src="./Staff.js"></script>

<template>
  <div class="staff">
    <div class="ez-row">
      <h2>Cấu hình nhân viên</h2>
    </div>
    <ve-table
      row-key-field-name="StaffId"
      style="width:100%"
      :max-height="500"
      :columns="colStaff" 
      :table-data="staffs"
      :border-y="true"
      :event-custom-option="eventCustomOption"
    />
    <div class="ez-row text-right btn-function-row">
      <div class="ez-col">
        <b-button
          class="btn-outline-ez" 
          @click="addStaff"
        >
          Thêm
        </b-button>
        <b-button
          class="btn-outline-ez" 
          @click="editStaff"
        >
          Sửa
        </b-button>
        <b-button
          class="btn-outline-ez" 
          @click="deleteStaff"
        >
          Xóa
        </b-button>
        <b-button
          class="btn-outline-ez" 
          @click="inActive"
        >
          Active /InActive
        </b-button>
      </div>
    </div>
    <b-modal 
      id="new-staff"
      ref="refNewChangeStaff"
      modal-class="ez-modal"
      size="md" 
      hide-footer 
      lazy
      no-close-on-backdrop 
      header-text-variant="light" 
      :title="titleStaff"
    >
      <NewChangeStaff
        :staff-group="staffGroup"
        :type-action="typeAction"
        :staff-change="staffSelected"
        @cancel-add-staff="cancelAddStaff"
        @add-staff-success="addStaffSuccess"
      />
    </b-modal>
  </div>
</template>
