<style lang="scss">
@import './BillList.scss';
</style>
<script src="./BillList.js"></script>

<template>
  <div class="bill-list">
    <div class="list-bill-box">
      <button
        class="p-0 btn bl-color dishFocus grid-bills btn-new-bill"
        @click="newBill"
      >
        Tạo mới
      </button>
    </div>
    <div class="list-bill-box">
      <button
        v-for="(bill, index) in bills"
        :id="index"
        :key="'bill' + index"
        :class="bill.BillId === billSelected.BillId ? 'p-0 btn bl-color grid-bills active' : 'p-0 btn bl-color grid-bills'"
        @click="chooseBill(bill)"
      >
        <div :title="bill.GuestName">
          <div class="d-flex flex-row">
            <div
              class="bill-status"
              :style="getBillStatus(bill)"
            />
            <div class="info-detail-bill big-text-info">
              <div class="text-right balance-bill">
                <span class="show-balance">
                  {{ format_curency(bill.Amount - bill.Payment) }}
                </span>
              </div>
              <div class="item-detail-info text-left">
                <span class="show-guest-name">
                  {{ bill.GuestName }}
                </span>
              </div>
              <div class="item-detail-info text-left">
                <i class="show-phone-number">
                  {{ bill.GuestPhone }}
                </i>
              </div>
            </div>
          </div>
        </div>
      </button>
    </div>
  </div>
</template>
