.bill-list {
  overflow-y: auto;
  height: 100%;
  font-size: $fontSize !important;
  .list-bill-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    .grid-bills {
      border: none !important;
      position: relative;
      min-height: 1px;
      margin: 2px;
      background-color: #e7e3e3;
      width: 160px;
      height: 60px;
      border-radius: 3px;
      -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.24);
      -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.24);
      box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.24);

      &:hover {
        -webkit-box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.52);
        -moz-box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.52);
        box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.52);
      }

      &.bl-color {
        color: $colorDefault;
      }

      &.active {
        background-color: #b3ecff;
      }
    }
  }

  .bill-status {
    width: 8px;
    height: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .info-detail-bill {
    height: 60px;

    &.big-text-info {
      width: 160px;
    }

    .item-detail-info {
      padding: 0px 6px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      white-space: normal;
      height: 18px;
      line-height: 14px;
    }

    .balance-bill {
      padding: 4px 6px 0px 6px;
      font-weight: bold;
      color: red;
    }
  }

  .show-balance {
    font-size: $fontSize;
  }
  .show-guest-name {
    font-size: $fontSize;
  }
  .show-phone-number {
    font-size: $fontSize;
  }
  .btn-new-bill {
    font-size: 18px;
    background-color: #17a2b8 !important;
    color: white !important;
  }
}
