<style lang="scss">
@import './NewAccount.scss';
</style>
<script src="./NewAccount.js"></script>

<template>
  <div class="new-account">
    <div class="ez-row">
      <div class="ez-col ez-flex10 require-label">
        Tên tài khoản
      </div>
      <div class="ez-col ez-flex25">
        <b-input v-model="accountInfo.UserName" />
      </div>
    </div>
    <div class="ez-row">
      <div class="ez-col ez-flex10 require-label">
        Email
      </div>
      <div class="ez-col ez-flex25">
        <b-input v-model="accountInfo.Email" />
      </div>
    </div>
    <div class="ez-row">
      <div class="ez-col ez-flex10 require-label">
        Mật khẩu
      </div>
      <div class="ez-col ez-flex25">
        <b-input-group>
          <b-input
            v-model="accountInfo.Password"
            :type="visibility"
          />
          <b-input-group-append is-text>
            <span
              class="pointer"
              @click="showHidePassword" 
            >
              <b-icon
                v-if="visibility === 'password'"
                icon="eye-slash"
              />
              <b-icon
                v-if="visibility !== 'password'"
                icon="eye"
              />
            </span>
          </b-input-group-append>
        </b-input-group>
      </div>
    </div>
    <div class="ez-row">
      <div class="ez-col ez-flex10 require-label">
        Nhập lại mật khẩu
      </div>
      <div class="ez-col ez-flex25">
        <b-input-group>
          <b-input
            v-model="accountInfo.ConfirmPassword"
            :type="visibility"
          />
          <b-input-group-append is-text>
            <span
              class="pointer"
              @click="showHidePassword" 
            >
              <b-icon
                v-if="visibility === 'password'"
                icon="eye-slash"
              />
              <b-icon
                v-if="visibility !== 'password'"
                icon="eye"
              />
            </span>
          </b-input-group-append>
        </b-input-group>
      </div>
    </div>
    <div class="ez-row text-right btn-function-row">
      <div class="ez-col">
        <b-button
          class="btn-outline-ez" 
          @click="okNewAccount"
        >
          Lưu
        </b-button>
        <b-button
          class="btn-outline-ez" 
          @click="cancelNewAccount"
        >
          Hủy
        </b-button>
      </div>
    </div>
  </div>
</template>
