<style src="./App.scss" module lang="scss"></style>
<script src="./App.js"></script>

<template>
  <div :class="[$style.app]">
    <Navigation v-if="isLoggedIn" />
    <router-view />
    <Spinner
      v-if="$vueLoading.isLoading('loading')"
      class="loading-form" 
      :line-size="5" 
      :message="'Loading'"
    />
  </div>
</template>
