<style lang="scss">
@import './RptItemSale.scss';
</style>
<script src="./RptItemSale.js"></script>

<template>
  <div class="rpt-item-sale">
    <div class="ez-row">
      <div class="ez-col ez-flex1">
        <div class="ez-row">
          <div class="ez-col ez-flex10">
            Từ ngày
          </div>
          <div class="ez-col ez-flex20">
            <DatePicker 
              v-model="search.FromDate"
              v-mask="'##/##/####'"
              format="dd/MM/yyyy"
              placeholder="__/__/____"
              type="date"
            />
          </div>
        </div>
        <div class="ez-row">
          <div class="ez-col ez-flex10">
            Đến ngày
          </div>
          <div class="ez-col ez-flex20">
            <DatePicker 
              v-model="search.ToDate"
              v-mask="'##/##/####'"
              format="dd/MM/yyyy"
              placeholder="__/__/____"
              type="date"
            />
          </div>
        </div>
        <div class="ez-row text-right btn-function-row">
          <div class="ez-col">
            <b-button
              v-shortkey="['enter']" 
              class="btn-outline-ez"
              @click="searchItemSale"
              @shortkey="searchItemSale"
            >
              Xem
            </b-button>
          </div>
        </div>
      </div>
      <div class="ez-col ez-flex5">
        <div class="ez-row">
          <ve-table
            style="width:100%"
            :max-height="500"
            :columns="colItem" 
            :table-data="itemSales"
            :border-y="true"
          />
        </div>
        <div
          v-show="isShowTotal"
          class="ez-row text-right"
        >
          <div class="ez-col">
            <span class="total-amount">Tổng tiền: {{ totalAmount }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
