<style lang="scss">
@import './NewChangeStaff.scss';
</style>
<script src="./NewChangeStaff.js"></script>

<template>
  <div class="new-change-staff">
    <div class="ez-row">
      <div class="ez-col ez-flex10 require-label">
        Mã nhân viên
      </div>
      <div class="ez-col ez-flex30">
        <b-input
          v-model="staff.Code"
          :disabled="isEditStaff"
        />
      </div>
    </div>
    <div class="ez-row">
      <div class="ez-col ez-flex10 require-label">
        Tên nhân viên
      </div>
      <div class="ez-col ez-flex30">
        <b-input v-model="staff.Name" />
      </div>
    </div>
    <div class="ez-row">
      <div class="ez-col ez-flex10 require-label">
        Ngày bắt đầu
      </div>
      <div class="ez-col ez-flex10">
        <DatePicker 
          v-model="staff.BeginWork"
          v-mask="'##/##/####'"
          class="w-100"
          size="small"
          format="dd/MM/yyyy"
          placeholder="__/__/____"
          type="date"
        />
      </div>
      <div class="ez-col ez-flex10 require-label">
        Vị trí
      </div>
      <div class="ez-col ez-flex10">
        <b-form-select
          v-model="staff.StaffGroupId"
          :options="staffGroups"
          value-field="StaffGroupId"
          text-field="StaffGroupName"
        />
      </div>
    </div>
    <div class="ez-row">
      <div class="ez-col ez-flex10 require-label">
        Lương cứng
      </div>
      <div class="ez-col ez-flex10">
        <b-input
          v-model="staff.Basicsalary"
          class="input-numeric"
          @blur="$event => changeAmountValue($event)"
          @mousedown="focusInputAmount"
        />
      </div>
      <div class="ez-col ez-flex10 require-label">
        Hoa hồng
      </div>
      <div class="ez-col ez-flex10">
        <b-input
          v-model="staff.Commission"
          class="input-numeric"
        />
      </div>
    </div>
    <div class="ez-row">
      <div class="ez-col ez-flex10">
        Địa chỉ
      </div>
      <div class="ez-col ez-flex30">
        <b-input v-model="staff.Address" />
      </div>
    </div>
    <div class="ez-row">
      <div class="ez-col ez-flex10">
        Số điện thoại
      </div>
      <div class="ez-col ez-flex30">
        <b-input v-model="staff.Phone" />
      </div>
    </div>
    <div class="ez-row">
      <div class="ez-col ez-flex10">
        Facebook
      </div>
      <div class="ez-col ez-flex30">
        <b-input v-model="staff.Facebook" />
      </div>
    </div>
    <div class="ez-row">
      <div class="ez-col ez-flex10">
        Email
      </div>
      <div class="ez-col ez-flex30">
        <b-input v-model="staff.Email" />
      </div>
    </div>
    <div class="ez-row text-right btn-function-row">
      <div class="ez-col">
        <b-button
          class="btn-outline-ez" 
          @click="okAddStaff"
        >
          Lưu
        </b-button>
        <b-button
          class="btn-outline-ez" 
          @click="cancelAddStaff"
        >
          Hủy
        </b-button>
      </div>
    </div>
  </div>
</template>
