﻿@page
@using Microsoft.AspNetCore.Identity
@model LoginModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Log in";
}

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group">
                    <div class="card p-4">
                        <div class="card-body">
                            <form asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <h1>Login</h1>
                                <p class="text-muted">Sign In to your account</p>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="icon-user"></i>
                                        </span>
                                    </div>
                                    <input asp-for="Input.Email" class="form-control" type="text" placeholder="Email">
                                    <span asp-validation-for="Input.Email" class="invalid-feedback"></span>
                                </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="icon-lock"></i>
                                        </span>
                                    </div>

                                    <input asp-for="Input.Password" class="form-control" type="password" placeholder="Password">
                                    <span asp-validation-for="Input.Password" class="invalid-feedback"></span>
                                </div>
                                <div class="input-group mb-4">
                                    <div class="form-check checkbox">
                                        <input class="form-check-input" asp-for="Input.RememberMe" type="checkbox" value="">
                                        <label class="form-check-label" asp-for="Input.RememberMe">@Html.DisplayNameFor(m => m.Input.RememberMe)</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <button class="btn btn-success px-4" type="submit">Login</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <a class="btn btn-link px-0" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>
                                    </div>
                                    <div class="col-6 text-right">
                                        <a class="btn btn-link px-0" id="forgot-password" asp-page="./ForgotPassword">Forgot password?</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
