﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div class="card mx-4">
                        <div class="card-body p-4">
                            <h1>@ViewData["Title"]</h1>
                            <p class="text-muted">Create your account</p>
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@@</span>
                                </div>
                                <input asp-for="Input.Email" class="form-control" type="text" placeholder="Email">
                                <span asp-validation-for="Input.Email" class="invalid-feedback"></span>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="icon-lock"></i>
                                    </span>
                                </div>
                                <input asp-for="Input.Password" class="form-control" type="password" placeholder="Password">
                                <span asp-validation-for="Input.Password" class="invalid-feedback"></span>
                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="icon-lock"></i>
                                    </span>
                                </div>
                                <input asp-for="Input.ConfirmPassword" class="form-control" type="password" placeholder="Repeat password">
                                <span asp-validation-for="Input.ConfirmPassword" class="invalid-feedback"></span>
                            </div>
                            <button class="btn btn-block btn-success" type="submit">Register</button>
                        </div>
                        @{
                            if ((Model.ExternalLogins?.Count ?? 0) != 0)
                            {
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <div class="card-footer p-4">
                                        <div class="row">
                                            @*@foreach (var provider in Model.ExternalLogins)
                                                {*@
                                            @*<div class="col-6">
                                                    <button type="submit" class="btn btn-block" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                                </div>*@
                                            @* } *@
                                            <div class="col-6">
                                                <button class="btn btn-block btn-facebook" type="button">
                                                    @*<svg class="c-icon mr-2">
                                                            <use xlink:href="vendors/@coreui/icons/svg/brand.svg#cib-facebook-f"></use>
                                                        </svg>*@<span>Facebook</span>
                                                </button>
                                            </div>
                                            <div class="col-6">
                                                <button class="btn btn-block btn-google-plus" type="button">
                                                    @*<svg class="c-icon mr-2">
                                                            <use xlink:href="vendors/@coreui/icons/svg/brand.svg#cib-facebook-f"></use>
                                                        </svg>*@<span>Google</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            }
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
