@model HairSalon.Application.ViewModels.CustomerViewModel

@{
    ViewData["Title"] = "Edit Customer";
}

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-6">
                <form asp-action="Edit">
                    <input type="hidden" asp-for="Id" />
                    <div class="card">
                        <div class="card-header"><strong>@ViewData["Title"]</strong> <small></small></div>
                        <div class="card-body">
                            <vc:summary />
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label asp-for="Name"></label>
                                        <input asp-for="Name" class="form-control" placeholder="Enter customer name" />
                                        <span asp-validation-for="Name" class="invalid-feedback"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label asp-for="Email"></label>
                                        <input asp-for="Email" class="form-control" placeholder="Enter customer email" />
                                        <span asp-validation-for="Email" class="invalid-feedback"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label asp-for="BirthDate"></label>
                                        <input asp-for="BirthDate" class="form-control" placeholder="Enter customer birthday" />
                                        <span asp-validation-for="BirthDate" class="invalid-feedback"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer">
                            <input type="submit" value="Save" class="btn btn-sm btn-success" />
                            <a asp-action="Index" class="btn btn-sm btn-info">Back to List</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
