/* stylelint-disable-next-line block-no-empty */
.timeline {
    background-color: rgb(247, 242, 242);
    .timeline-viewport {
        height: calc(100vh - 200px) !important;
        position: relative;
        .timelineScheduler {
            position: absolute;
            top: 10px;
            bottom: 10px;
            left: 10px;
            right: 10px;
            overflow: hidden;
            clear: both;
            .b-grid-header-container, 
            .b-schedulerheader, 
            .b-grid-header, 
            .saturday-header,
            .sunday-header,
            .b-sch-header-timeaxis-cell:hover {
                color: #fafafa !important;
                background: $colorBackgroundDefault !important;
            }
            .b-grid-header-container {
                .b-sch-header-timeaxis-cell {
                    border-right: 1px solid #f0eded !important;
                    &.b-last {
                        border-right: 0 !important;
                    }
                }
            }
            .b-grid-header{
                .b-sch-header-text {
                    color: #fafafa !important; 
                }
                .b-grid-header-text {
                    color: #fafafa !important; 
                }
                .b-timeaxis {
                    z-index: 10 !important;
                }
                .b-sch-timerange {
                    &.b-sch-current-time {
                        height: 15px !important;
                        z-index: 100 !important;
                    }
                }
            }
            .b-grid-footer-container, .b-footer, .b-grid-footer {
                background: #E8E8E8 !important;
            }
            .b-grid-footer-container {
                .b-timeaxis-tick {
                    border-right: 1px solid #ffffff !important;
                }
                .booking-unassign-summary {
                    color: #E09108 !important;
                    z-index: 10;
                }
                .num-avai-summary {
                    color: #389E0D !important;
                    z-index: 10;
                }
                .num-occ-summary {
                    color: #656565 !important;
                    z-index: 10;
                }
                .occupancy-summary{
                    color: #E13F47 !important;
                    z-index: 10;
                }
                .b-timeaxis-summary-value {
                    z-index: 10;
                }
            }
            .b-timeaxis-group-summary {
                .b-timeaxis-summary-value {
                    .roomtype-summary {
                        color: #007bff !important;
                        font-weight: 400;
                        font-size: 14px;
                        z-index: 10 !important;
                    }
                }
            }
            .b-sch-event {
                border-radius: 10px;
            }
            .b-grid-subgrid {
                .b-columnlines, .b-grid-cell:not(:last-child) {
                    border-right: 0 !important;
                }
            }
        }
    }
    .color-symbol-container {
        width: 222px;
        height: auto;
        font-size: 15px !important;
        position: absolute;
        z-index: 1000;
        bottom: 5px;
        right: 10px;
        border-radius: 3px;
        padding: 4px;
        background-color: #fff !important;
        -webkit-box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.5);
        -moz-box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.5);
        box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.5);
        transition: all 0.2s ease;
    
        .box-color-symbol {
            width: 30px;
            height: 20px;
            border-radius: 2px;
        }
    
        &.color-symbol-enter {
            height: 0;
            opacity: 0;
            transform: translateX(100px);
        }
    
        &.color-symbol-leave-to {
            height: 0;
            opacity: 0;
            transform: translateX(100px);
        }
    }
}
.modal-bill-info {
	.modal-dialog {
		min-width: 1300px !important;
		max-width: 1300px !important;
	}
}