<style lang="scss">
@import './Timeline.scss';
</style>
<script src="./Timeline.js"></script>

<template>
  <div class="timeline">
    <div class="ez-row timeline-viewport">
      <BryntumScheduler 
        ref="scheduler" 
        class="timelineScheduler" 
        :config="bryntumBaseConfig" 
        :time-ranges-feature="timeRangesFeatureConfig"
        :columns="bryntumColumns" 
        :row-height="rowHeightEvent"
        :bar-margin="barMargin" 
        :empty-text="'Không có dữ liệu'"
        :events="events" 
        event-layout="stack"
        :resources="resources"
        :time-ranges="timeRanges"
        :start-date="startDate"
        :end-date="endDate"
        :view-preset="viewPresetConfig"
        :schedule-menu-feature="scheduleContextMenu"
        :event-edit-feature="eventEditConfig" 
        :event-context-menu-feature="eventContextMenuConfig" 
        :auto-height="false" 
        :allow-overlap="true"
      />
    </div>
    <b-modal 
      id="new-bill"
      ref="refBillInformation"
      modal-class="ez-modal modal-bill-info"
      size="md" 
      hide-footer 
      lazy
      no-close-on-backdrop 
      header-text-variant="light" 
      :title="'Chi tiết hóa đơn'"
    >
      <BillInformation 
        :obj-prop="objProp"
        @event-popup-done="eventBillInfoDone"
        @event-popup-close="eventBillInfoClose"
      />
    </b-modal>
    <b-modal 
      id="payment"
      ref="refPaymentTimeline"
      modal-class="ez-modal"
      size="md" 
      hide-footer 
      lazy
      no-close-on-backdrop 
      header-text-variant="light" 
      title="Thanh Toán"
    >
      <Payment 
        :bill-id="billIdSelected"
        @cancel-payment="cancelPayment"
        @add-payment-success="addPaymentSuccess"
      />
    </b-modal>
  </div>
</template>
