<style lang="scss">
@import './BillByStaff.scss';
</style>
<script src="./BillByStaff.js"></script>

<template>
  <div class="bill-by-staff">
    <ve-table
      style="width:100%"
      :max-height="500"
      :columns="colBill" 
      :table-data="bills"
      :border-y="true"
    />
  </div>
</template>
