<style lang="scss">
@import './EmailConfig.scss';
</style>
<script src="./EmailConfig.js"></script>

<template>
  <div class="email-config">
    <div class="email-form">
      <h2>Cấu hình Email</h2>
      <div class="ez-row">
        <div class="ez-col ez-flex10">
          Địa chỉ Email
        </div>
        <div class="ez-col ez-flex20">
          <b-input
            v-model="email.EmailName"
          />
        </div>
      </div>
      <div class="ez-row">
        <div class="ez-col ez-flex10">
          Mật khẩu ứng dụng
        </div>
        <div class="ez-col ez-flex20">
          <b-input
            v-model="email.Password"
          />
        </div>
      </div>
      <div class="ez-row text-right btn-function-row">
        <div class="ez-col">
          <b-button
            class="btn-outline-ez" 
            @click="configEmail"
          >
            Cập nhật
          </b-button>
          <b-button
            class="btn-outline-ez" 
            @click="testEmail"
          >
            Gửi thử
          </b-button>
        </div>
      </div>
    </div>
  </div>
</template>
