<style lang="scss">
@import './Account.scss';
</style>
<script src="./Account.js"></script>

<template>
  <div class="account">
    <h2>Cấu hình người dùng</h2>
    <ve-table
      style="width:100%"
      :columns="colAccount" 
      :table-data="accounts"
      :border-y="true"
    />
    <div class="ez-row text-right btn-function-row">
      <div class="ez-col ez-flex50">
        <b-button
          class="btn-outline-ez" 
          @click="newAccount"
        >
          Tạo tài khoản
        </b-button>
      </div>
    </div>
    <b-modal 
      id="new-account"
      ref="refNewAccount"
      modal-class="ez-modal"
      size="md" 
      hide-footer 
      lazy
      no-close-on-backdrop 
      header-text-variant="light" 
      title="Thêm tài khoản"
    >
      <NewAccount 
        @cancel-new-account="cancelNewAccount"
        @add-account-success="addAccountSuccess"
      />
    </b-modal>
  </div>
</template>
