<style lang="scss">
	@import './Information.scss';
</style>
<script src="./Information.js"></script>

<template>
  <div class="information">
    <div class="ez-row">
      <div class="ez-col ez-flex10 require-label">
        Tên khách
      </div>
      <div class="ez-col ez-flex25">
        <b-input
          v-model="bill.GuestName"
          @keyup="getData"
        />
        <div
          v-show="showAutoComplete"
          v-click-outside="closeAutoComplete"
          class="panel-footer"
        >
          <ve-table 
            :columns="colDataSearch" 
            :table-data="search_data"
            :border-around="true"
            :border-x="true"
            :border-y="true"
          />
        </div>
      </div>
    </div>
    <div class="ez-row">
      <div class="ez-col ez-flex10 require-label">
        Số điện thoại
      </div>
      <div class="ez-col ez-flex25">
        <b-input v-model="bill.GuestPhone" />
      </div>
    </div>
    <div class="ez-row">
      <div class="ez-col ez-flex10">
        Ngày đến
      </div>
      <div class="ez-col ez-flex11">
        <DatePicker 
          v-model="bill.ArrivalDate"
          v-mask="'##/##/####'"
          format="dd/MM/yyyy"
          placeholder="__/__/____"
          type="date"
        />
      </div>
      <div class="ez-col ez-flex7">
        <TimePicker
          v-model="bill.ArrivalTime" 
          v-mask="'##:##'"
          format="HH:mm"
          placeholder="__:__"
        />
      </div>
      <div class="ez-col ez-flex7">
        <TimePicker 
          v-model="bill.DepartureTime" 
          v-mask="'##:##'"
          format="HH:mm"
          placeholder="__:__"
        />
      </div>
    </div>
    <div class="ez-row">
      <div class="ez-col ez-flex10">
        Ghế
      </div>
      <div class="ez-col ez-flex22">
        <b-form-select
          v-model="bill.ChairId"
          :options="chairs"
          value-field="ChairId"
          text-field="ChairName"
        >
          <template slot="first">
            <option value="">
              --Chọn ghế--
            </option>
          </template>
        </b-form-select>
      </div>
      <div class="ez-col ez-flex3">
        <b-button @click="moreChair">
          ...
        </b-button>
      </div>
    </div>
    <div class="ez-row">
      <div class="ez-col ez-flex10">
        Thợ chính
      </div>
      <div class="ez-col ez-flex22">
        <b-form-select
          v-model="bill.StaffMain"
          :options="staff.StaffMains"
          value-field="StaffId"
          text-field="Name"
        >
          <template slot="first">
            <option value="">
              --Chọn nv chính--
            </option>
          </template>
        </b-form-select>
      </div>
      <div class="ez-col ez-flex3">
        <b-button
          class="more-staff"
          @click="moreStaffMain"
        >
          ...
        </b-button>
      </div>
    </div>
    <div class="ez-row">
      <div class="ez-col ez-flex10">
        Thợ phụ
      </div>
      <div class="ez-col ez-flex22">
        <b-form-select
          v-model="bill.StaffSub"
          :options="staff.StaffSubs"
          value-field="StaffId"
          text-field="Name"
        >
          <template slot="first">
            <option value="">
              --Chọn thợ phụ--
            </option>
          </template>
        </b-form-select>
      </div>
      <div class="ez-col ez-flex3">
        <b-button
          class="more-staff"
          @click="moreStaffSub"
        >
          ...
        </b-button>
      </div>
    </div>
    <div class="ez-row">
      <div class="ez-col ez-flex10">
        Thợ Khác
      </div>
      <div class="ez-col ez-flex22">
        <b-form-select
          v-model="bill.StaffShampoo"
          :options="staff.StaffShampoos"
          value-field="StaffId"
          text-field="Name"
        >
          <template slot="first">
            <option value="">
              --Chọn nv khác--
            </option>
          </template>
        </b-form-select>
      </div>
      <div class="ez-col ez-flex3">
        <b-button
          class="more-staff"
          @click="moreStaffShampoo"
        >
          ...
        </b-button>
      </div>
    </div>
    <div class="ez-row">
      <div class="ez-col ez-flex10">
        Ghi chú
      </div>
      <div class="ez-col ez-flex25">
        <b-form-textarea
          v-model="bill.Note"
          no-resize
        />
      </div>	
    </div>
    <div class="ez-row">
      <div class="ez-col ex-flex10">
        Danh sách dịch vụ sử dụng
      </div>
      <div class="ez-col ez-flex10 text-right total-amount">
        <span> Tổng tiền: {{ totalAmount }} </span>
      </div>
    </div>
    <div class="ez-row table-product">
      <div class="ez-col">
        <div class="ez-row">
          <ve-table
            style="width:100%"
            :max-height="195"
            :columns="colProductSelected" 
            :table-data="productSelected"
            :border-y="true"
            :event-custom-option="eventCustomOption"
          />
        </div>
        <div
          v-show="productSelected.length === 0"
          class="ez-row empty-data"
        >
          Chưa chọn dịch vụ
        </div>
      </div>
    </div>
  </div>
</template>
