/* stylelint-disable-next-line block-no-empty */
.information {
	.table-product {
		height: 210px;
	}
	.empty-data {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 160px;
		color: $colorDefault;
		font-size: 16px;
		border: 1px solid #ddd;
		border-top: 0;
	}
	.total-amount {
		font-weight: bold;
	}
	.more-staff {
		width: 100%;
	}
}
