<style src="./Bill.scss" module lang="scss"></style>
<script src="./Bill.js"></script>

<template>
  <div :class="[$style.bill]">
    <ve-table 
      :columns="colBill" 
      :table-data="dataBill"
      :border-around="false"
      :border-x="true"
      :border-y="true"
    />
    <b-button @click="clickNewBill">
      Thêm
    </b-button>
    <b-modal 
      id="new-change-bill-id"
      ref="refNewChangeBill"
      modal-class="ez-modal"
      size="lg" 
      hide-footer 
      lazy
      no-close-on-backdrop 
      header-text-variant="light" 
      :title="titleNewChangeBill"
    >
      <NewChangeBill />
    </b-modal>
  </div>
</template>
