/* stylelint-disable-next-line block-no-empty */
.delete-product {
	.button-delete-product {
		border: 0 !important;
		background: none !important;
		font-size: $fontSize;
		box-shadow: none !important;
		font-weight: bold;
		color: #bd0524 !important;
	}
}
