<style lang="scss">
	@import './DeleteProduct.scss';
</style>
<script src="./DeleteProduct.js"></script>

<template>
  <div class="delete-product">
    <b-button class="button-focus button-delete-product">
      X
    </b-button>
  </div>
</template>
