<style lang="scss">
@import './Payment.scss';
</style>
<script src="./Payment.js"></script>

<template>
  <div class="payment">
    <div class="ez-row">
      <div class="ez-col ez-flex10">
        Số tiền
      </div>
      <div class="ez-col ez-flex20 text-right">
        {{ format_curency(balance) }}
      </div>
    </div>
    <div class="ez-row">
      <div class="ez-col ez-flex10">
        Thợ phụ
      </div>
      <div class="ez-col ez-flex20">
        <b-form-select
          v-model="payment.TransactionCode"
          :options="transactionCodes"
          value-field="Code"
          text-field="Name"
        />
      </div>
    </div>
    <div class="ez-row">
      <div class="ez-col ez-flex10">
        Tiền khách đưa
      </div>
      <div class="ez-col ez-flex20">
        <b-input
          v-model="payment.PaymentAmount"
          class="text-right"
          @blur="$event => changeAmountValue($event)"
          @mousedown="focusInputAmount"
        />
      </div>
    </div>
    <div class="ez-row">
      <div class="ez-col ez-flex10">
        Gợi ý
      </div>
      <div class="ez-col ez-flex20">
        <b-button
          class="btn-payment-suggest"
          @click="suggest(500000)"
        >
          {{ format_curency(500000) }}
        </b-button>
        <b-button
          class="btn-payment-suggest"
          @click="suggest(200000)"
        >
          {{ format_curency(200000) }}
        </b-button>
        <b-button
          class="btn-payment-suggest"
          @click="suggest(100000)"
        >
          {{ format_curency(100000) }}
        </b-button>
        <b-button
          class="btn-payment-suggest"
          @click="suggest(50000)"
        >
          {{ format_curency(50000) }}
        </b-button>
        <b-button
          class="btn-payment-suggest"
          @click="suggest(balance)"
        >
          {{ format_curency(balance) }}
        </b-button>
      </div>
    </div>
    <div class="ez-row">
      <div class="ez-col ez-flex10">
        Trả lại
      </div>
      <div class="ez-col ez-flex20">
        <b-input
          v-model="refund"
          :disabled="true"
          class="text-right"
        />
      </div>
    </div>
    <div class="ez-row">
      <div class="ez-col ez-flex10">
        Ghi chú
      </div>
      <div class="ez-col ez-flex20">
        <b-form-textarea
          v-model="payment.Note"
          no-resize
        />
      </div>	
    </div>
    <div class="ez-row text-right btn-function-row">
      <div class="ez-col">
        <b-button
          class="btn-outline-ez" 
          @click="okPayment"
        >
          Đồng ý
        </b-button>
        <b-button
          class="btn-outline-ez" 
          @click="cancelPayment"
        >
          Hủy
        </b-button>
      </div>
    </div>
  </div>
</template>
