<style lang="scss">
@import './RptTransaction.scss';
</style>
<script src="./RptTransaction.js"></script>

<template>
  <div class="rpt-transaction">
    <div class="ez-row">
      <div class="ez-col ez-flex1">
        <div class="ez-row">
          <div class="ez-col ez-flex10">
            Từ ngày
          </div>
          <div class="ez-col ez-flex20">
            <DatePicker 
              v-model="search.FromDate"
              v-mask="'##/##/####'"
              format="dd/MM/yyyy"
              placeholder="__/__/____"
              type="date"
            />
          </div>
        </div>
        <div class="ez-row">
          <div class="ez-col ez-flex10">
            Đến ngày
          </div>
          <div class="ez-col ez-flex20">
            <DatePicker 
              v-model="search.ToDate"
              v-mask="'##/##/####'"
              format="dd/MM/yyyy"
              placeholder="__/__/____"
              type="date"
            />
          </div>
        </div>
        <div class="ez-row text-right btn-function-row">
          <div class="ez-col">
            <b-button
              v-shortkey="['enter']" 
              class="btn-outline-ez"
              @click="searchTransaction"
              @shortkey="searchTransaction"
            >
              Xem
            </b-button>
          </div>
        </div>
      </div>
      <div class="ez-col ez-flex4">
        <div class="ez-row">
          <ve-table
            row-key-field-name="TransactionId"
            style="width:100%"
            :max-height="500"
            :columns="colTransaction" 
            :table-data="transactions"
            :border-y="true"
          />
        </div>
      </div>
      <div class="ez-col ez-flex1">
        <div class="ez-row">
          <ve-table
            style="width:100%"
            :max-height="500"
            :columns="colSumTrn" 
            :table-data="sumTransactions"
            :border-y="true"
          />
        </div>
      </div>
    </div>
  </div>
</template>
