<style lang="scss">
@import './NewChangeChair.scss';
</style>
<script src="./NewChangeChair.js"></script>

<template>
  <div class="new-change-chair">
    <div class="ez-row">
      <div class="ez-col ez-flex10 require-label">
        Mã ghế
      </div>
      <div class="ez-col ez-flex30">
        <b-input
          v-model="chair.ChairCode" 
          :disabled="isEdit"
        />
      </div>
    </div>
    <div class="ez-row">
      <div class="ez-col ez-flex10 require-label">
        Tên ghế
      </div>
      <div class="ez-col ez-flex30">
        <b-input v-model="chair.ChairName" />
      </div>
    </div>
    <div class="ez-row text-right btn-function-row">
      <div class="ez-col">
        <b-button
          class="btn-outline-ez" 
          @click="okAddChair"
        >
          Lưu
        </b-button>
        <b-button
          class="btn-outline-ez" 
          @click="cancelAddChair"
        >
          Hủy
        </b-button>
      </div>
    </div>
  </div>
</template>
