@-webkit-keyframes icon-glow {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px $colorObjectDefault, 0 0 40px $colorObjectDefault, 0 0 50px $colorObjectDefault, 0 0 60px $colorObjectDefault, 0 0 70px $colorObjectDefault;
	}

	to {
		text-shadow: 0 0 20px #fff, 0 0 30px $colorObjectDefault, 0 0 40px $colorObjectDefault, 0 0 50px $colorObjectDefault, 0 0 60px $colorObjectDefault, 0 0 70px $colorObjectDefault, 0 0 80px $colorObjectDefault;
	}
}

@keyframes icon-glow {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px $colorObjectDefault, 0 0 40px $colorObjectDefault, 0 0 50px $colorObjectDefault, 0 0 60px $colorObjectDefault, 0 0 70px $colorObjectDefault;
	}

	to {
		text-shadow: 0 0 20px #fff, 0 0 30px $colorObjectDefault, 0 0 40px $colorObjectDefault, 0 0 50px $colorObjectDefault, 0 0 60px $colorObjectDefault, 0 0 70px $colorObjectDefault, 0 0 80px $colorObjectDefault;
	}
}

.form-login-wrapper {
	width: 100%;
	height: 100%;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
    .ez-row {
		line-height: 30px !important;
		padding-top: 6px !important;

		&.btn-function-row {
			margin-top: 10px !important;
		}
	}
    .form-control {
		padding: 0px 5px 0 5px !important;
		min-height: 30px;
	}

	.login-content {
		z-index: 1;
		max-width: 720px;

		.main-info {
			background: -webkit-gradient(linear,left top,left bottom,from(rgba(56, 56, 56, 0.48)),to(rgba(56, 56, 56, 0.84)));
			background: linear-gradient(180deg, rgba(233, 205, 205, 0.48), rgba(56, 56, 56, 0.84));
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			padding: 10px;
			display: block;
			height: auto;
			overflow: auto;
			text-align: center;

			* {
				font-size: 13px;
			}

			div {
				color: white;
			}

			.form-control {
				border: none;
				border-radius: 10px;
				line-height: 30px;
			}

			.login-input-wrapper {
				display: inline-block;
				width: 335px;
				height: 100%;
				padding: 10px 10px 0 10px;
			}

			.ez-flat-button {
				font-size: 14px !important;
				padding: 0 12px !important;
				width: 100%;
				height: 38px;
				border-radius: 10px !important;
				margin-top: 12px;
				transition: all .05s ease-in-out;

				&:hover {
					font-size: 18px !important;
				}
			}
		}
	}
}
