<style lang="scss">
	@import './Login.scss';
</style>
<script src="./Login.js"></script>

<template>
  <div class="form-login-wrapper">
    <div class="login-content">
      <div class="main-info">
        <div class="login-input-wrapper">
          <div
            class="ez-row"
          >
            <div class="ez-col text-left">
              Tài khoản
            </div>
          </div>
          <div
            class="ez-row"
          >
            <div class="ez-col">
              <b-form-input
                v-model="loginForm.UserName"
                :placeholder="'Nhập tài khoản'"
              />
            </div>
          </div>
          <div
            class="ez-row"
          >
            <div class="ez-col text-left">
              Mật khẩu
            </div>
          </div>
          <div
            class="ez-row"
          >
            <div class="ez-col">
              <b-form-input
                v-model="loginForm.Password"
                type="password"
                :placeholder="'Nhập mật khẩu'"
              />
            </div>
          </div>
          <div class="ez-row">
            <div class="ez-col">
              <b-button
                v-shortkey="['enter']"
                class="ez-flat-button"
                @shortkey="loginAction"
                @click="loginAction()"
              >
                Đăng nhập
              </b-button>
            </div>
          </div>
          <div class="ez-row" />
        </div>
      </div>
    </div>
  </div>
</template>

