@model HairSalon.Application.ViewModels.CompanyViewModel

@{
    ViewData["Title"] = "Company Details";
}

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-6">
                <form asp-action="Edit">
                    <input type="hidden" asp-for="Id" />
                    <div class="card">
                        <div class="card-header"><strong>@ViewData["Title"]</strong> <small></small></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <strong>@Html.DisplayNameFor(model => model.Name)</strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    @Html.DisplayFor(model => model.Name)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <strong>@Html.DisplayNameFor(model => model.Email)</strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    @Html.DisplayFor(model => model.Email)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <strong>@Html.DisplayNameFor(model => model.TaxNumber)</strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    @Html.DisplayFor(model => model.TaxNumber)
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-warning">Edit</a>
                            <a asp-action="Index" class="btn btn-sm btn-info">Back to List</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
