@model IEnumerable<HairSalon.Application.ViewModels.CompanyViewModel>

@{
    ViewData["Title"] = "Company Management";
}

<style>
    .modal-lg {
        max-width: 80%;
    }
</style>

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong>@ViewData["Title"]</strong>
                        <div class="pull-right">
                            <a asp-action="Create" class="btn btn-primary btn-sm">
                                Create Company
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-responsive-md">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TaxNumber)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TaxNumber)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id" title="Edit" class="btn btn-sm btn-warning">
                                                Edit
                                                @*<span class="fas fa-edit"></span>*@
                                            </a>

                                            <a asp-action="Details" asp-route-id="@item.Id" title="Details" class="btn btn-sm btn-primary">
                                                View
                                                @*<span class="fas fa-search"></span>*@
                                            </a>

                                            <a asp-action="Delete" asp-route-id="@item.Id" title="Delete" class="btn btn-sm btn-danger">
                                                Delete
                                                @*<span class="fas fa-trash-alt"></span>*@
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
    </script>
}
