/* stylelint-disable-next-line block-no-empty */
.rtp-revenue {
}
.table-footer-cell-class {
	background-color: #76e5f7 !important;
	color: black !important;;
	font-size: 18px !important;
	font-weight: bold !important;
	padding: 0 3px !important;
}