<style lang="scss">
@import './RtpRevenue.scss';
</style>
<script src="./RtpRevenue.js"></script>

<template>
  <div class="rtpRevenue">
    <div class="ez-row">
      <div class="ez-col ez-flex1">
        <div class="ez-row">
          <div class="ez-col ez-flex10">
            Từ ngày
          </div>
          <div class="ez-col ez-flex20">
            <DatePicker 
              v-model="search.FromDate"
              v-mask="'##/##/####'"
              format="dd/MM/yyyy"
              placeholder="__/__/____"
              type="date"
            />
          </div>
        </div>
        <div class="ez-row">
          <div class="ez-col ez-flex10">
            Đến ngày
          </div>
          <div class="ez-col ez-flex20">
            <DatePicker 
              v-model="search.ToDate"
              v-mask="'##/##/####'"
              format="dd/MM/yyyy"
              placeholder="__/__/____"
              type="date"
            />
          </div>
        </div>
        <div class="ez-row text-right btn-function-row">
          <div class="ez-col">
            <b-button
              v-shortkey="['enter']" 
              class="btn-outline-ez"
              @click="searchRevenue"
              @shortkey="searchRevenue"
            >
              Xem
            </b-button>
          </div>
        </div>
      </div>
      <div class="ez-col ez-flex5">
        <div class="ez-row">
          <ve-table
            style="width:100%"
            :max-height="500"
            :columns="colRevenue" 
            :table-data="revenues"
            :footer-data="footerData"
            :border-y="true"
			:cell-span-option="cellSpanOption"
			:cell-style-option="cellStyleOption"
          />
        </div>
      </div>
    </div>
  </div>
</template>
