@import '~normalize.css';

@import 'layout/base';
/* custom navbar */
.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0px !important;
}
.navbar-brand {
  display: inline-block;
  padding: 3px !important;
  font-size: 18px !important;
  line-height: inherit;
  white-space: nowrap;
}
/* custom .ve-table */
.ve-table table.ve-table-content tbody.ve-table-body tr.ve-table-body-tr td.ve-table-body-td,
.ve-table table.ve-table-content tbody.ve-table-body tr.ve-table-expand-tr td.ve-table-body-td {
  padding: 3px !important;
}
.ve-table table.ve-table-content tbody.ve-table-body tr.ve-table-body-tr,
.ve-table table.ve-table-content tbody.ve-table-body tr.ve-table-expand-tr {
  height: 23px !important;
}
.ve-table table.ve-table-content thead.ve-table-header tr.ve-table-header-tr {
  height: 32px !important;
}
.ve-table table.ve-table-content tbody.ve-table-body tr.ve-table-body-tr td.ve-table-body-td,
.ve-table table.ve-table-content tbody.ve-table-body tr.ve-table-expand-tr td.ve-table-body-td,
.ve-table table.ve-table-content tbody.ve-table-body tr.ve-table-body-tr td.ve-table-expand-td,
.ve-table table.ve-table-content tbody.ve-table-body tr.ve-table-expand-tr td.ve-table-expand-td {
  background-color: #fff;
  color: $colorDefault !important;
  height: inherit;
  font-size: 14px;
}
.ve-table table.ve-table-content thead.ve-table-header tr.ve-table-header-tr th.ve-table-header-th {
  background-color: $colorHeader !important;
  padding: 3px !important;
  font-weight: 500 !important;
  color: white !important;
  font-size: 16px !important;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: $fontSize !important;
  font-weight: 400;
  line-height: 1.5;
  color: $colorDefault !important;
  text-align: left;
  background-color: #fff;
}
/* stylelint-disable-next-line block-no-empty */
.home-page {
  background-color: yellow !important;
}
.my-class {
  border: solid;
  border-color: red;
}

.chair-map-container {
  // on/off lightbulb control
  .on-lightbulb {
    color: #f0f00e !important;
  }

  .off-lightbulb {
    color: $colorDefault !important;
  }

  position: relative;
  background-color: #f1f1f1;

  .vdr.draggable {
    .room-card-item {
      background-color: #fff;
    }
  }
}

/*Row-col*/
.ez-row {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  line-height: 24px;
  padding-top: 5px;
  min-height: 24px;

  &.btn-function-row {
    margin-top: 6px;
    button,
    .ez-dropdown-split-button,
    .ez-dropdown-button,
    .ez-dropdown {
      margin-left: 5px;

      &:first-child {
        margin-left: 0;
      }
    }

    .ez-col {
      text-align: right;

      .ez-col-align-left {
        text-align: left;
      }
    }
  }

  &.ez-row-no-padding {
    padding-top: 0 !important;
  }
}

.ez-col {
  padding-left: $ezColPaddingLeft;
  flex: 1 1 auto;

  &.ez-col-no-padding {
    padding-left: 0px !important;
  }
}
/*column đầu bỏ padding-left*/
.ez-row .ez-col:first-child,
.ez-form-big-content .ez-row .ez-col:first-child,
.ez-form-small-content .ez-row .ez-col:first-child {
  padding-left: 0;
}

.ez-flex,
.ez-flex0 {
  -webkit-flex: 0;
  flex: 0;
}
/*column flex*/
.ez-flex1 {
  -webkit-flex: 1;
  flex: 1 calc(1 * #{$ezColPaddingLeft});
}

.ez-flex2 {
  -webkit-flex: 2;
  flex: 2 calc(2 * #{$ezColPaddingLeft});
}

.ez-flex3 {
  -webkit-flex: 3;
  flex: 3 calc(3 * #{$ezColPaddingLeft});
}

.ez-flex4 {
  -webkit-flex: 4;
  flex: 4 calc(4 * #{$ezColPaddingLeft});
}

.ez-flex5 {
  -webkit-flex: 5;
  flex: 5 calc(5 * #{$ezColPaddingLeft});
}

.ez-flex6 {
  -webkit-flex: 6;
  flex: 6 calc(6 * #{$ezColPaddingLeft});
}

.ez-flex7 {
  -webkit-flex: 7;
  flex: 7 calc(7 * #{$ezColPaddingLeft});
}

.ez-flex8 {
  -webkit-flex: 8;
  flex: 8 calc(8 * #{$ezColPaddingLeft});
}

.ez-flex9 {
  -webkit-flex: 9;
  flex: 9 calc(9 * #{$ezColPaddingLeft});
}

.ez-flex10 {
  -webkit-flex: 10;
  flex: 10 calc(10 * #{$ezColPaddingLeft});
}

.ez-flex11 {
  -webkit-flex: 11;
  flex: 11 calc(11 * #{$ezColPaddingLeft});
}

.ez-flex12 {
  -webkit-flex: 12;
  flex: 12 calc(12 * #{$ezColPaddingLeft});
}

.ez-flex13 {
  -webkit-flex: 13;
  flex: 13 calc(13 * #{$ezColPaddingLeft});
}

.ez-flex14 {
  -webkit-flex: 14;
  flex: 14 calc(14 * #{$ezColPaddingLeft});
}

.ez-flex15 {
  -webkit-flex: 15;
  flex: 15 calc(15 * #{$ezColPaddingLeft});
}

.ez-flex16 {
  -webkit-flex: 16;
  flex: 16 calc(16 * #{$ezColPaddingLeft});
}

.ez-flex17 {
  -webkit-flex: 17;
  flex: 17 calc(17 * #{$ezColPaddingLeft});
}

.ez-flex18 {
  -webkit-flex: 18;
  flex: 18 calc(18 * #{$ezColPaddingLeft});
}

.ez-flex19 {
  -webkit-flex: 19;
  flex: 19 calc(19 * #{$ezColPaddingLeft});
}

.ez-flex20 {
  -webkit-flex: 20;
  flex: 20 calc(20 * #{$ezColPaddingLeft});
}

.ez-flex21 {
  -webkit-flex: 21;
  flex: 21 calc(21 * #{$ezColPaddingLeft});
}

.ez-flex22 {
  -webkit-flex: 22;
  flex: 22 calc(22 * #{$ezColPaddingLeft});
}

.ez-flex23 {
  -webkit-flex: 23;
  flex: 23 calc(23 * #{$ezColPaddingLeft});
}

.ez-flex24 {
  -webkit-flex: 24;
  flex: 24 calc(24 * #{$ezColPaddingLeft});
}

.ez-flex25 {
  -webkit-flex: 25;
  flex: 25 calc(25 * #{$ezColPaddingLeft});
}

.ez-flex26 {
  -webkit-flex: 26;
  flex: 26 calc(26 * #{$ezColPaddingLeft});
}

.ez-flex27 {
  -webkit-flex: 27;
  flex: 27 calc(27 * #{$ezColPaddingLeft});
}

.ez-flex28 {
  -webkit-flex: 28;
  flex: 28 calc(28 * #{$ezColPaddingLeft});
}

.ez-flex29 {
  -webkit-flex: 29;
  flex: 29 calc(29 * #{$ezColPaddingLeft});
}

.ez-flex30 {
  -webkit-flex: 30;
  flex: 30 calc(30 * #{$ezColPaddingLeft});
}

.ez-flex31 {
  -webkit-flex: 31;
  flex: 31 calc(31 * #{$ezColPaddingLeft});
}

.ez-flex32 {
  -webkit-flex: 32;
  flex: 32 calc(32 * #{$ezColPaddingLeft});
}

.ez-flex33 {
  -webkit-flex: 33;
  flex: 33 calc(33 * #{$ezColPaddingLeft});
}

.ez-flex34 {
  -webkit-flex: 34;
  flex: 34 calc(34 * #{$ezColPaddingLeft});
}

.ez-flex35 {
  -webkit-flex: 35;
  flex: 35 calc(35 * #{$ezColPaddingLeft});
}

.ez-flex36 {
  -webkit-flex: 36;
  flex: 36 calc(36 * #{$ezColPaddingLeft});
}

.ez-flex37 {
  -webkit-flex: 37;
  flex: 37 calc(37 * #{$ezColPaddingLeft});
}

.ez-flex38 {
  -webkit-flex: 38;
  flex: 38 calc(38 * #{$ezColPaddingLeft});
}

.ez-flex39 {
  -webkit-flex: 39;
  flex: 39 calc(39 * #{$ezColPaddingLeft});
}

.ez-flex40 {
  -webkit-flex: 40;
  flex: 40 calc(40 * #{$ezColPaddingLeft});
}

.ez-flex41 {
  -webkit-flex: 41;
  flex: 41 calc(41 * #{$ezColPaddingLeft});
}

.ez-flex42 {
  -webkit-flex: 42;
  flex: 42 calc(42 * #{$ezColPaddingLeft});
}

.ez-flex43 {
  -webkit-flex: 43;
  flex: 43 calc(43 * #{$ezColPaddingLeft});
}

.ez-flex44 {
  -webkit-flex: 44;
  flex: 44 calc(44 * #{$ezColPaddingLeft});
}

.ez-flex45 {
  -webkit-flex: 45;
  flex: 45 calc(45 * #{$ezColPaddingLeft});
}

.ez-flex46 {
  -webkit-flex: 46;
  flex: 46 calc(46 * #{$ezColPaddingLeft});
}

.ez-flex47 {
  -webkit-flex: 47;
  flex: 47 calc(47 * #{$ezColPaddingLeft});
}

.ez-flex48 {
  -webkit-flex: 48;
  flex: 48 calc(48 * #{$ezColPaddingLeft});
}

.ez-flex49 {
  -webkit-flex: 49;
  flex: 49 calc(49 * #{$ezColPaddingLeft});
}

.ez-flex50 {
  -webkit-flex: 50;
  flex: 50 calc(50 * #{$ezColPaddingLeft});
}

.ez-flex53 {
  -webkit-flex: 53;
  flex: 53 calc(53 * #{$ezColPaddingLeft});
}

.ez-flex60 {
  -webkit-flex: 60;
  flex: 60 calc(60 * #{$ezColPaddingLeft});
}

.ez-flex76 {
  -webkit-flex: 76;
  flex: 76 calc(76 * #{$ezColPaddingLeft});
}

.ez-flex77 {
  -webkit-flex: 77;
  flex: 77 calc(77 * #{$ezColPaddingLeft});
}

.ez-flex78 {
  -webkit-flex: 78;
  flex: 78 calc(78 * #{$ezColPaddingLeft});
}

.ez-flex85 {
  -webkit-flex: 85;
  flex: 85 calc(85 * #{$ezColPaddingLeft});
}

.ez-flex86 {
  -webkit-flex: 86;
  flex: 86 calc(86 * #{$ezColPaddingLeft});
}

.ez-flex89 {
  -webkit-flex: 89;
  flex: 89 calc(89 * #{$ezColPaddingLeft});
}

.ez-flex113 {
  -webkit-flex: 113;
  flex: 113 calc(113 * #{$ezColPaddingLeft});
}
/*Row-col*/

.ez-modal {
  .modal-header {
    background-color: $colorHeader !important;
    padding: 8px 10px 4px 10px;

    .modal-title {
      font-weight: normal !important;
      text-transform: uppercase;
      color: #fff;
    }

    button {
      outline: 0;
      color: #fff;
    }
  }
}

option {
  font-size: 13px;
}

.form-control {
  padding: 0px 3px 0 3px !important;
  font-size: $fontSize !important;
  line-height: 22px !important;
  height: auto !important;
  min-height: 22px;

  &[disabled] {
    cursor: default !important;
  }

  &:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
}

.ivu-modal-wrap {
  .ivu-modal-header p,
  .ivu-modal-header-inner {
    text-transform: uppercase;
  }
}

/*region: chung cho control iView-----------------------------------------------------*/
.ivu-input {
  border: 1px solid #ced4da !important;

  &:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
}

.ivu-input[disabled],
fieldset[disabled] .ivu-input {
  background-color: #e9ecef;
  color: $colorDefault;
}

.ivu-input-small {
  padding: 3px 3px !important;
}

.ivu-date-picker {
  display: block;

  .ivu-input-wrapper {
    min-width: 65px;

    .ivu-input {
      height: auto;
      min-height: 24px;
      line-height: 22px;
      padding: 0 3px !important;
      border-radius: 3px;
    }

    .ivu-input-icon {
      line-height: 24px;
    }
  }
}

.ivu-input-number {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 3px;
  padding: 0 !important;

  .ivu-input-wrapper,
  .ivu-input-number-input-wrap {
    height: auto;
    line-height: 100%;

    .ivu-input,
    .ivu-input-number-input {
      height: auto;
      min-height: 22px;
      line-height: 22px;
      padding: 0px 3px;
    }
  }

  .ivu-input-number-handler-wrap {
    .ivu-input-number-handler {
      height: 12px;
    }

    .ivu-input-number-handler-down-inner,
    .ivu-input-number-handler-up-inner {
      right: 5px;
      top: 0px;
    }
  }
}

.ivu-input-icon-normal + .ivu-input {
  padding-right: 28px !important;
}

.panel-footer {
  z-index: 9999;
  position: absolute;
}

fieldset {
  legend {
    &.legend-hair {
      font-size: 16px !important;
      margin-bottom: 0px;
      width: auto !important;
      border-radius: 3px;
      padding: 5px 5px 5px 10px !important;
      background-color: #ffffff;
    }
  }

  &.fieldset-hair {
    border: 1px solid #ddd !important;
    margin: 0;
    padding: 10px;
    position: relative;
    border-radius: 4px;
    // background-color: #f5f5f5;
    // padding-left: 10px !important;
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
  }
}
.custom-select {
  display: block !important;
  padding: 0 3px !important;
  font-size: 100% !important;
  height: auto !important;
  min-height: 24px;
  line-height: 22px !important;
}
.btn-outline-ez:focus,
.btn-outline-ez:hover,
.btn-outline-ez:active {
  background-color: $colorObjectHover !important;

  &.highlight-button {
    background-color: #a02c2c !important;
  }
}
.ez-flat-button.ez-btn-inline,
.btn-outline-ez.ez-btn-inline {
  margin-top: -2px;
}

.ez-flat-button,
.btn-outline-ez {
  height: 29px;
  margin-left: 0px;
  outline: 0 !important;
  font-size: $fontSize !important;
  &.btn-sm {
    height: 24px;
    min-width: 24px;
    padding: 0 4px !important;
  }

  padding: 0 8px !important;
  background-color: $colorBackgroundDefault !important;
  color: white !important;
  box-shadow: none !important;
  border: none !important;
  border-radius: 3px !important;
  min-width: 28px;

  &.highlight-button {
    background-color: #d64343 !important;
  }
}
.require-label:after {
  content: ' (*)';
  color: #dc3545;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
}

.custom-control.custom-checkbox,
.custom-control.custom-radio {
  padding-left: 16px;
  min-height: 16px;

  .custom-control-input {
    left: 0;

    &:checked ~ .custom-control-label::before {
      background-color: $colorObjectDefault !important;
    }

    &:checked:hover ~ .custom-control-label::before,
    &:checked:focus ~ .custom-control-label::before {
      background-color: $colorObjectHover !important;
    }

    &[disabled] ~ .custom-control-label {
      cursor: not-allowed;
    }

    &:hover ~ .custom-control-label::before,
    &:focus ~ .custom-control-label::before {
      -webkit-box-shadow: rgba(0, 123, 255, 0.19) 0px 0px 0px 1.81676px;
      box-shadow: rgba(0, 123, 255, 0.19) 0px 0px 0px 1.81676px;
      border-color: $colorObjectHover !important;
    }
  }

  .custom-control-label {
    margin-left: 5px;
	padding-left: 5px;

    &::before,
    &::after {
      top: 3px;
      width: 16px;
      height: 16px;
    }
  }

  &.align-right-no-label {
    .custom-control-label {
      margin-left: 5px;
    }
  }
}

.custom-control.custom-checkbox {
  margin-right: 0 !important;
}

.custom-control.custom-switch {
  padding-left: 2.75rem !important;

  .custom-control-input {
    height: 1.5rem;

    &:checked:hover ~ .custom-control-label::before,
    &:checked:focus ~ .custom-control-label::before {
      background-color: $colorObjectHover !important;
    }

    &[disabled] ~ .custom-control-label {
      cursor: not-allowed;
    }

    &:hover ~ .custom-control-label::before,
    &:focus ~ .custom-control-label::before {
      -webkit-box-shadow: rgba(0, 123, 255, 0.19) 0px 0px 0px 1.81676px;
      box-shadow: rgba(0, 123, 255, 0.19) 0px 0px 0px 1.81676px;
      border-color: $colorObjectHover !important;
    }
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: $colorObjectDefault !important;
    background-color: $colorObjectDefault !important;
  }

  .custom-control-label::before {
    top: 0.3rem;
    left: -2.65rem;
    width: 2.3rem;
    border-radius: 0.6rem;
    height: 1.3rem;
  }

  .custom-control-input:checked ~ .custom-control-label::after {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem);
  }

  .custom-control-label::after {
    top: calc(0.34rem + 2px);
    left: calc(-2.6rem + 2px);
    width: calc(1.25rem - 4px);
    height: calc(1.25rem - 4px);
  }
}
.custom-control-label::before {
  background-color: #fff !important;
}
.input-numeric {
  text-align: right;
}
.btn-secondary {
  background-color: $colorBackgroundDefault !important;
  border-color: $colorBackgroundDefault !important;
}
.loading-form {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 2em;
  width: 5em;
  // text-align: center
}

.loading-form:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.5;
}

.dropdown-toggle::after {
  display: none !important;
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff !important;
}

.dropdown-menu {
  font-size: $fontSize !important;
  color: $colorDefault !important;
}

.dropdown-item {
  padding: 3px !important;
}

.ivu-icon {
	line-height: 22px !important;
}

/*region: swal2-modal------------------------*/
.swal2-modal {
	will-change: auto;
	-webkit-transform: none;
	transform: none;
	transform-origin: inherit;
	text-align: left;
	padding: 10px 20px;

	.swal2-title {
		color: #3c74b0;
		font-weight: 600;
		font-size: 19px;
		margin: 10px 0;
		display: inline-block;
		padding: 0;
	}
  .swal2-input{
    font-size: 13px !important;
    color: $colorDefault !important;
  }
	.swal2-styled {
    height: 29px;
    margin-left: 0px;
    outline: 0 !important;
    font-size: $fontSize !important;
    padding: 0 8px !important;
    background-color: $colorBackgroundDefault !important;
    color: white !important;
    box-shadow: none !important;
    border: none !important;
    border-radius: 3px !important;
    min-width: 28px;
		min-width: 60px;
		font-weight: normal;
		font-size: 13px !important;
	}
}
/*endregion: swal2-modal---------------------*/