<style lang="scss">
@import './Chair.scss';
</style>
<script src="./Chair.js"></script>

<template>
  <div class="chair">
    <div class="ez-row">
      <h2>Cấu hình ghế</h2>
    </div>
    <ve-table
      row-key-field-name="ChairId"
      style="width:100%"
      :max-height="500"
      :columns="colChair" 
      :table-data="chairs"
      :border-y="true"
      :event-custom-option="eventCustomOption"
    />
    <div class="ez-row text-right btn-function-row">
      <div class="ez-col">
        <b-button
          class="btn-outline-ez" 
          @click="addChair"
        >
          Thêm
        </b-button>
        <b-button
          class="btn-outline-ez" 
          @click="editChair"
        >
          Sửa
        </b-button>
        <b-button
          class="btn-outline-ez" 
          @click="deleteChair"
        >
          Xóa
        </b-button>
        <b-button
          class="btn-outline-ez" 
          @click="inActive"
        >
          Ngừng/Bật sử dụng
        </b-button>
      </div>
    </div>
    <b-modal 
      id="new-chair"
      ref="refNewChangeChair"
      modal-class="ez-modal"
      size="md" 
      hide-footer 
      lazy
      no-close-on-backdrop 
      header-text-variant="light" 
      :title="titleChair"
    >
      <NewChangeChair
        :type-action="typeAction"
        :chair-change="chairSelected"
        @cancel-add-chair="cancelAddChair"
        @add-chair-success="addChairSuccess"
      />
    </b-modal>
  </div>
</template>
