﻿@model HairSalon.UI.Web.Models.ErrorViewModel
@{
    ViewData["Title"] = "Oops! An error has occurred!";
}

@{
    if (Model == null)
    {
        <div>
            <h2 class="text-danger">Oops! An error has occurred, but don't worry. Our time will be reviewed and we will correct it soon!</h2>
        </div>
    }
    else
    {
        <h1>@Html.Raw(Model.Title)</h1>
        <h2 class="text-danger">@Html.Raw(Model.Message)</h2>
    }
}