@font-face {
	font-family: 'ezFolio';
	src: url('../fonts/ezFolio.eot?xucs0w');
	src: url('../fonts/ezFolio.eot?xucs0w#iefix') format('embedded-opentype'), url('../fonts/ezFolio.ttf?xucs0w') format('truetype'), url('../fonts/ezFolio.woff?xucs0w') format('woff'), url('../fonts/ezFolio.svg?xucs0w#ezFolio') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="ezfolio-icon-"], [class*=" ezfolio-icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'ezFolio' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ezfolio-icon-house-keeping:before {
	content: "\e964";
}

.ezfolio-icon-warehouse-invoice:before {
	content: "\e900";
}

.ezfolio-icon-account:before {
	content: "\e902";
}

.ezfolio-icon-allotment-contract:before {
	content: "\e903";
}

.ezfolio-icon-ar-class:before {
	content: "\e904";
}

.ezfolio-icon-ar-group:before {
	content: "\e905";
}

.ezfolio-icon-arrival:before {
	content: "\e906";
}

.ezfolio-icon-birthday:before {
	content: "\e907";
}

.ezfolio-icon-business-area-log:before {
	content: "\e908";
}

.ezfolio-icon-business-area-map:before {
	content: "\e909";
}

.ezfolio-icon-cancel-checkin:before {
	content: "\e90a";
}

.ezfolio-icon-cancel-checkout:before {
	content: "\e90b";
}

.ezfolio-icon-cancellation:before {
	content: "\e90c";
}

.ezfolio-icon-change-booking-status:before {
	content: "\e90d";
}

.ezfolio-icon-change-payment-method:before {
	content: "\e90e";
}

.ezfolio-icon-company-profile:before {
	content: "\e90f";
}

.ezfolio-icon-config:before {
	content: "\e910";
}

.ezfolio-icon-config-email:before {
	content: "\e911";
}

.ezfolio-icon-config-email-templates:before {
	content: "\e912";
}

.ezfolio-icon-config-template:before {
	content: "\e913";
}

.ezfolio-icon-delete:before {
	content: "\e914";
}

.ezfolio-icon-end-of-day:before {
	content: "\e915";
}

.ezfolio-icon-export-used-product:before {
	content: "\e916";
}

.ezfolio-icon-ezacc-config:before {
	content: "\e917";
}

.ezfolio-icon-ezcms:before {
	content: "\e918";
}

.ezfolio-icon-ezcms-rate-mapping:before {
	content: "\e919";
}

.ezfolio-icon-ezpay:before {
	content: "\e91a";
}

.ezfolio-icon-future-availability:before {
	content: "\e91b";
}

.ezfolio-icon-get-from-front-desk:before {
	content: "\e91c";
}

.ezfolio-icon-global-parameter-config:before {
	content: "\e91d";
}

.ezfolio-icon-group-checkout:before {
	content: "\e91e";
}

.ezfolio-icon-group-log:before {
	content: "\e91f";
}

.ezfolio-icon-group-trace-date:before {
	content: "\e920";
}

.ezfolio-icon-group-transaction:before {
	content: "\e921";
}

.ezfolio-icon-group-user:before {
	content: "\e922";
}

.ezfolio-icon-guest-profile:before {
	content: "\e923";
}

.ezfolio-icon-hand-over:before {
	content: "\e924";
}

.ezfolio-icon-hk-service:before {
	content: "\e925";
}

.ezfolio-icon-hotel-config:before {
	content: "\e926";
}

.ezfolio-icon-hotel-info-config:before {
	content: "\e927";
}

.ezfolio-icon-inhouse-guest:before {
	content: "\e928";
}

.ezfolio-icon-inventory-count:before {
	content: "\e929";
}

.ezfolio-icon-invoice:before {
	content: "\e92a";
}

.ezfolio-icon-invoice-purchase-order:before {
	content: "\e92b";
}

.ezfolio-icon-lost-n-found:before {
	content: "\e92c";
}

.ezfolio-icon-manage-request:before {
	content: "\e92d";
}

.ezfolio-icon-mod-room-lvl:before {
	content: "\e92e";
}

.ezfolio-icon-more:before {
	content: "\e92f";
}

.ezfolio-icon-more-2:before {
	content: "\e930";
}

.ezfolio-icon-new-group-master:before {
	content: "\e931";
}

.ezfolio-icon-new-reservation:before {
	content: "\e932";
}

.ezfolio-icon-out-of-order:before {
	content: "\e933";
}

.ezfolio-icon-overdue-charge:before {
	content: "\e934";
}

.ezfolio-icon-pa18:before {
	content: "\e935";
}

.ezfolio-icon-post-payment:before {
	content: "\e936";
}

.ezfolio-icon-post-room-charge:before {
	content: "\e937";
}

.ezfolio-icon-post-to-dummy-room:before {
	content: "\e938";
}

.ezfolio-icon-process-request:before {
	content: "\e939";
}

.ezfolio-icon-purchase-order:before {
	content: "\e93a";
}

.ezfolio-icon-purchase-request:before {
	content: "\e93b";
}

.ezfolio-icon-reservation:before {
	content: "\e93c";
}

.ezfolio-icon-reservation-log:before {
	content: "\e93d";
}

.ezfolio-icon-reservation-status:before {
	content: "\e93e";
}

.ezfolio-icon-roles-management:before {
	content: "\e93f";
}

.ezfolio-icon-room-assignment:before {
	content: "\e940";
}

.ezfolio-icon-room-lvl-map:before {
	content: "\e941";
}

.ezfolio-icon-room-map:before {
	content: "\e942";
}

.ezfolio-icon-room-map-config:before {
	content: "\e943";
}

.ezfolio-icon-room-plan:before {
	content: "\e944";
}

.ezfolio-icon-room-status-by-hskp:before {
	content: "\e945";
}

.ezfolio-icon-screen-display-config:before {
	content: "\e946";
}

.ezfolio-icon-search-group-master:before {
	content: "\e947";
}

.ezfolio-icon-search-reservation:before {
	content: "\e948";
}

.ezfolio-icon-search-voucher:before {
	content: "\e949";
}

.ezfolio-icon-shift-closure-summary:before {
	content: "\e94a";
}

.ezfolio-icon-split-table:before {
	content: "\e94b";
}

.ezfolio-icon-statement:before {
	content: "\e94c";
}

.ezfolio-icon-stop-sell:before {
	content: "\e94d";
}

.ezfolio-icon-supplier-price:before {
	content: "\e94e";
}

.ezfolio-icon-system-config-log:before {
	content: "\e94f";
}

.ezfolio-icon-task-assignment:before {
	content: "\e950";
}

.ezfolio-icon-tools-log:before {
	content: "\e951";
}

.ezfolio-icon-transaction:before {
	content: "\e952";
}

.ezfolio-icon-transaction-config:before {
	content: "\e953";
}

.ezfolio-icon-iptv:before {
	content: "\e954";
}

.ezfolio-icon-update-bulk:before {
	content: "\e955";
}

.ezfolio-icon-update-inventory:before {
	content: "\e956";
}

.ezfolio-icon-update-price:before {
	content: "\e957";
}

.ezfolio-icon-user-group-permission-config:before {
	content: "\e958";
}

.ezfolio-icon-user-management:before {
	content: "\e959";
}

.ezfolio-icon-hotel-status:before {
	content: "\e95a";
}

.ezfolio-icon-vip-card:before {
	content: "\e95b";
}

.ezfolio-icon-vip-config:before {
	content: "\e95c";
}

.ezfolio-icon-vip-log:before {
	content: "\e95d";
}

.ezfolio-icon-vip-number:before {
	content: "\e95e";
}

.ezfolio-icon-void-transaction:before {
	content: "\e95f";
}

.ezfolio-icon-voucher-type:before {
	content: "\e960";
}

.ezfolio-icon-warehouse-card:before {
	content: "\e961";
}

.ezfolio-icon-warehouse-export:before {
	content: "\e962";
}

.ezfolio-icon-warehouse-import:before {
	content: "\e963";
}

.ezfolio-icon-warehouse-transfer:before {
	content: "\e901";
}
