<style lang="scss">
@import './Salary.scss';
</style>
<script src="./Salary.js"></script>

<template>
  <div class="salary">
    <div class="ez-row">
      <div class="ez-col ez-flex1">
        <div class="ez-row">
          <div class="ez-col ez-flex10">
            Từ ngày
          </div>
          <div class="ez-col ez-flex20">
            <DatePicker 
              v-model="search.FromDate"
              v-mask="'##/##/####'"
              format="dd/MM/yyyy"
              placeholder="__/__/____"
              type="date"
            />
          </div>
        </div>
        <div class="ez-row">
          <div class="ez-col ez-flex10">
            Đến ngày
          </div>
          <div class="ez-col ez-flex20">
            <DatePicker 
              v-model="search.ToDate"
              v-mask="'##/##/####'"
              format="dd/MM/yyyy"
              placeholder="__/__/____"
              type="date"
            />
          </div>
        </div>
        <div class="ez-row">
          <div class="ez-col ez-flex10">
            Nhân viên
          </div>
          <div class="ez-col ez-flex20">
            <b-form-select
              v-model="search.StaffId"
              :options="staffOption"
              value-field="StaffId"
              text-field="Name"
            >
              <template slot="first">
                <option value="">
                  --Chọn nhân viên--
                </option>
              </template>
            </b-form-select>
          </div>
        </div>
        <div class="ez-row text-right btn-function-row">
          <div class="ez-col">
            <b-button
              v-shortkey="['enter']" 
              class="btn-outline-ez"
              @click="calCommission"
              @shortkey="calCommission"
            >
              Xem
            </b-button>
          </div>
        </div>
      </div>
      <div class="ez-col ez-flex5">
        <div class="ez-row">
          <ve-table
            row-key-field-name="StaffId"
            style="width:100%"
            :max-height="500"
            :columns="colStaff" 
            :table-data="staffs"
            :border-y="true"
            :expand-option="expandOption"
          />
        </div>
      </div>
    </div>
  </div>
</template>
