<style src="./HomePage.scss" module lang="scss"></style>
<script src="./HomePage.js"></script>

<template>
  <div>
    <h2 class="home-page">Phan Thanh Toàn</h2>
    <button @click="testApi">
      Button
    </button>
    <ve-icon name="double-right-arrow" />
    <ve-table 
      :columns="columns" 
      :table-data="customer"
      :border-around="false"
      :border-x="true"
      :border-y="true"
    />
    <ve-pagination :total="600" />
	<div class="chair-map-container">
		<template v-for="(room, idx) in listRmMapFilter">
			<vue-draggable-resizable
				v-if="room"
				:key="idx"
				:id="`info-rm-${idx}`"
				:w="room.RoomWidth"
				:h="room.RoomHeight"
				:x="room.RoomLeft"
				:y="room.RoomTop"
				:parent="true"
				:drag-handle="'.drag'"
				:resizable="false"
				class="my-class"
				@touchstart.native="showFunctionForRoom(room)"/>

					<div>
						<span>toanpt</span>
					</div>

			</vue-draggable-resizable>
		</template>
	</div>
	</div>
</template>
