<style lang="scss">
@import './ItemList.scss';
</style>
<script src="./ItemList.js"></script>

<template>
  <div class="item-list">
    <div class="ez-row">
      <h2>Cấu hình sản phẩm</h2>
    </div>
    <ve-table
      row-key-field-name="ItemId"
      style="width:100%"
      :max-height="500"
      :columns="colProduct" 
      :table-data="products"
      :border-y="true"
      :event-custom-option="eventCustomOption"
    />
    <div class="ez-row text-right btn-function-row">
      <div class="ez-col">
        <b-button
          class="btn-outline-ez" 
          @click="addItem"
        >
          Thêm
        </b-button>
        <b-button
          class="btn-outline-ez" 
          @click="editItem"
        >
          Sửa
        </b-button>
        <b-button
          class="btn-outline-ez" 
          @click="deleteItem"
        >
          Xóa
        </b-button>
        <b-button
          class="btn-outline-ez" 
          @click="inActive"
        >
          Ngừng/Bật sử dụng
        </b-button>
      </div>
    </div>
    <b-modal 
      id="new-item"
      ref="refNewChangeItem"
      modal-class="ez-modal"
      size="md" 
      hide-footer 
      lazy
      no-close-on-backdrop 
      header-text-variant="light" 
      :title="titleItem"
    >
      <NewChangeItem
        :type-action="typeAction"
        :item-change="itemSelected"
        @cancel-add-item="cancelAddItem"
        @add-item-success="addItemSuccess"
      />
    </b-modal>
  </div>
</template>
