<style src="./NewChangeBill.scss" module lang="scss"></style>
<script src="./NewChangeBill.js"></script>

<template>
  <div :class="[$style.newChangeBill]">
    <div class="ez-row">
      <div class="ez-col ez-flex10">
        Tên khách
      </div>
      <div class="ez-col ez-flex10">
        <b-input
          v-model="bill.GuestName"
          autocomplete="off"
          @keyup="getData"
        />
        <div
          v-if="search_data.length"
          class="panel-footer"
        >
          <ul class="list-group">
            <ve-table 
              :columns="colDataSearch" 
              :table-data="search_data"
              :border-around="false"
              :border-x="true"
              :border-y="true"
            />
          </ul>
        </div>
      </div>
      <div class="ez-col ez-flex10">
        Số điện thoại
      </div>
      <div class="ez-col ez-flex10">
        <b-input v-model="bill.GuestPhone" />
      </div>
    </div>
    <div class="ez-row">
      <div class="ez-col ez-flex10">
        Ngày đến
      </div>
      <div class="ez-col ez-flex10">
        <DatePicker 
          v-model="bill.ArrivalDate"
          v-mask="'##/##/####'"
          class="w-100"
          size="small"
          format="dd/MM/yyyy"
          placeholder="__/__/____"
          type="date"
        />
        </DatePicker>
      </div>
      <div class="ez-col ez-flex10">
        Thời gian
      </div>
      <div class="ez-col ez-flex5">
        <TimePicker 
          v-model="bill.ArrivalTime" 
          v-mask="'##:##'"
          format="HH:mm"
          placeholder="__:__"
        />
      </div>
      <div class="ez-col ez-flex5">
        <TimePicker 
          v-model="bill.DepartureTime" 
          v-mask="'##:##'"
          format="HH:mm"
          placeholder="__:__"
        />
      </div>
    </div>
    <div class="ez-row">
      <div class="ez-col ez-flex10">
        Ghi chú
      </div>
      <div class="ez-col ez-flex30">
        <b-form-textarea
          v-model="bill.Note"
          no-resize
        />
      </div>	
    </div>
  </div>
</template>
