.product-sell {
	overflow: auto;
	height: 100%;
	font-size: $fontSize !important;
	.list-products-box {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;

		.grid-products {
			border: none !important;
			position: relative;
			min-height: 1px;
			margin: 2px;
			background-color: #e7e3e3;
			width: 144px;
			height: 60px;
			border-radius: 3px;
			-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.24);
			-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.24);
			box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.24);

			&:hover {
				-webkit-box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.52);
				-moz-box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.52);
				box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.52);
			}

			&.bl-color {
				color: $colorDefault;
			}
		}

		.no-product-message {
			margin-left: 8px;
		}
	}

	.box-img-item {
		width: 80px;
		height: 60px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}

	.info-detail-product {
		height: 60px;

		&.big-text-info {
			width: 160px;
		}

		.item-detail-info {
			padding: 8px 8px 0px 8px;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			white-space: normal;
			height: 38px;
			line-height: 14px;
		}

		.price-product {
			padding: 0px 8px 8px 8px;
			font-weight: bold;
		}
	}

	.show-price-prd {
		font-size: 14px;
	}
	.show-products-name {
		font-size: $fontSize;
	}
}