<style lang="scss">
	@import './ProductSell.scss';
</style>
<script src="./ProductSell.js"></script>

<template>
  <div class="product-sell">
    <div class="list-products-box">
      <!-- isActive -->
      <button
        v-for="(product, index) in itemLists"
        :id="index"
        :key="'product' + index"
        class="p-0 btn bl-color dishFocus grid-products"
        @click="chooseProduct(product)"
      >
        <div :title="product.ItemName">
          <div class="d-flex flex-row">
            <div class="info-detail-product big-text-info">
              <div class="item-detail-info text-left">
                <span class="show-products-name">
                  {{ product.ItemName }}
                </span>
              </div>
              <div class="text-right price-product">
                <span class="show-price-prd">
                  {{ format_curency(product.Price) }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </button>
    </div>
  </div>
</template>
